@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500;700&family=Montserrat:wght@400;500;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.topo {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/img/serena_williams\ 1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.logo-img {
  width: 101.05px;
  height: 60px;
  margin-left: 160px;
  margin-top: 40px;
}

.titulo {
  width: 627px;
  height: 82px;
  margin-left: 160px;
  margin-top: 207px;
}

.titulo h1 {
  font-family: 'Lora', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  color: #FFFFFF;
}

.titulo h2 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  color: #FFFFFF;
}

.titulo span {
  font-weight: bold;
  width: 298px;
  height: 68px;
  border: 1px solid #000000;
}

.btn {
  margin-top: 150px;
  margin-left: 160px;
}

.btn1 {
  width: 198px;
  height: 54px;
  background: #E0E0E0;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  font-family: 'Monteserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #000000;
  margin-right: 20px;
  cursor: pointer;
}

.btn2 {
  width: 198px;
  height: 54px;
  border: 1px solid #FFFFFF;
  border-radius: 4px;
  background-color: transparent;
  font-family: 'Monteserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #FFFFFF;
  cursor: pointer;
}

.paragrafo {
  width: 413px;
  height: 88px;
  margin-left: 160px;
  margin-top: 160px;
  border: 1px solid #000000;
}

.paragrafo p {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #FFFFFF;
}

.paragrafo span {
  font-weight: bold;
}

.paragrafo-img {
  width: 25px;
  height: 27px;
}

.line-topo {
  width: 416px;
  height: 3px;
  margin-top: 20px;
}

.dwayne {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.title-img h2 {
  font-family: 'Lora', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  color: #000000;
  text-align: end;
  margin-top: 40px;
}

.seta {
  width: 56px;
  height: 56px;
}

.img-dwayne {
  width: 514.3px;
  height: 441.9px;
}

.text {
  padding: 40px;
  margin-top: 18px;
}

.text span {
  font-weight: bold;
}

.text h3 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-size: 26px;
  font-weight: 500;
  color: #000000;
  width: 566px;
  height: 72px;
}

.text h4 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  margin-top: 60px;
}

.text p {
  font-family: 'Lora', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  margin-top: 20px;
}

.text-btn {
  width: 288px;
  height: 54px;
  border: none;
  border-radius: 4px;
  background-color: #000000;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 80px;
  cursor: pointer;
}

.grafico {
  background-color: #000000;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
}

.link-grafico {
  display: flex;
  justify-content: end;
  padding: 10px;
}

.link-grafico a {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
  text-decoration-line: underline;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-right: 20px;
  margin-top: 10px;
}

.title-grafico {
  width: 480px;
  height: 82;
  margin-left: 160px;
  margin-top: 74px;
}

.title-grafico h2 {
  font-family: 'Lora', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 41px;
  text-decoration-line: underline;
  color: #FFFFFF;
  text-transform: uppercase;
}

.title-grafico h3 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  text-decoration-line: underline;
  color: #FFFFFF;
  margin-top: 10px;
}